
<div>
    <img src="../../assets/images/framebar.png" style="max-width: 1358px;margin-top: -30px;margin-left: -98px;"/>
    
</div>
    <!-- <div style="margin-top: 10px;" class="col-md-5">
        <form>
        <mat-form-field>
            <mat-label>Show Rooms</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              @for (food of foods; track food) {
                <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field> &nbsp;    
          <mat-form-field>
            <mat-label>Account Managers</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              @for (Car of cars; track Car) {
                <mat-option [value]="Car.value">{{Car.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </form>
    </div> -->